.header-container {
  margin-bottom: 25px;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
.logo {
  color: #333;
}
.logo:hover {
  color: #C0392B;
  text-decoration: none;
}
.small-placeholder {
  font-size: 11pt;

}
.btn-hover {
  color: #fafafa;
  background: #C0392B;
}
.btn-hover:hover, .btn-hover:focus {
  color: #fafafa;
  background: #E74C3C;
  outline: none;
}

.wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 45px auto;
}
